<div class="container">
    <div class="button_head">
        <h2>Leave Details</h2>
        <button type="button" class="btn btn-primary">Request Leave</button>
    </div>
    <div class="leave_section">

        <div class="card">
            <h5 class="heading">
                Leave Taken
            </h5>
            <div class="detail">
                10
            </div>
        </div>
        <div class="card">
            <h5 class="heading">
                Leave Remaining
            </h5>
            <div class="detail">
                30
            </div>
        </div>
        <div class="card">
            <h5 class="heading">
                Pending Requests
            </h5>
            <div class="detail">
                1
            </div>
        </div>

    </div>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">S. No.</th>
            <th scope="col">Leave from</th>
            <th scope="col">To date</th>
            <th scope="col">Approved By</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <th scope="row">1</th>
            <td>01-01-2024</td>
            <td>14-01-2024</td>
            <td>manager</td>
            <td class="status-accepted">accepted</td>
          </tr>

          <tr>
            <th scope="row">2</th>
            <td>01-01-2024</td>
            <td>14-01-2024</td>
            <td>manager</td>
            <td class="status-rejected">rejected</td>
          </tr>

          <tr>
            <th scope="row">3</th>
            <td>01-01-2024</td>
            <td>14-01-2024</td>
            <td>manager</td>
            <td class="status-pending">pending</td>
         
          </tr>
        </tbody>
      </table>


</div>