<!-- <div class="sidebar" >
    <a class="active" routerLink="/home">Home</a>
    <a routerLink="/create">Create Employee</a>
    <a  routerLink="/update">Update Employee</a>
    <a routerLink="/viewAll">View All Employees</a>
    <a routerLink = '/all'>All</a>
  </div> -->
  <!-- <div class="sidenav">
    <a href="#create-employee">Create Employee</a>
    <a href="#update-employee">Update Employee</a>
    <a href="#view-all-employees">View All Employees</a>
  </div> -->
  <div class="sidenav">
    <!-- <a routerLink="/create-employee" routerLinkActive="active">Create Employee</a>
    <a routerLink="/update-employee" routerLinkActive="active">Update Employee</a> -->
    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
    <a class="nav-link" routerLink="/create" routerLinkActive="active">Create Employee</a>
    <a  class="nav-link" routerLink="/update" routerLinkActive="active">Update Employee</a>
    <a class="nav-link" routerLink="/viewAll" routerLinkActive="active">View All Employees</a>
  </div>
  